// Here you can add other styles
.bar-custom {
  height: 350px;
}

.text-mini {
  font-size: 12px;
  font-family: "Roboto";
}

.header-link {
  color: white;
}

.header-link :hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: white;
}

.text-18 {
  font-size: 18px;
}

.tabel-custom {
  height: 40px;
}

.footermokap {
  background-color: #5f49d2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.aboutus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .login-bg {
//   background-image: url("src/assets/images/logo.pnglogin_bg.png");
// }

.inputgrouptext {
  width: 100px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.list-item {
  width: 180px;

  border-radius: 8px;

  margin: 6px;
  display: flex;
}

.list-item h5 {
  font-size: 12px;
  margin-bottom: 0px;
}

tr {
  vertical-align: top;
}

th {
  vertical-align: middle;

  min-width: 70px;
}

thead {
  background-color: #f6f5ff;
  color: black;
}

.list-item h6 {
  font-size: 10px;
  margin-bottom: 0px;
}

.list-item a {
  text-decoration: none;
  font-size: 12px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100px;
  display: flex;
  width: 80px;
}

.slick-arrow.slick-prev {
  left: 1rem;
}
.slick-arrow.slick-next {
  right: 1rem;
}

.inovasi {
  width: 65px !important;
  height: 65px !important;
  border-radius: 50% !important;
}

.list-item-event img {
  max-width: 100%;
  object-fit: fill;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  transition: 0.25s ease;
}

.list-item-event img:hover {
  opacity: 0.7;
}

.active-indicator {
  position: absolute;
  transform-origin: center; // Here I am trying to set the origin of the div in its center.
  top: 50%; // And here I am trying to center vertically the child div in the parent div.
  right: 10%; // Same here but horizontally
  transform: translate(-50%, -50%);
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #e3dfff;
}

.table-striped-list-inovasi > tbody > tr:nth-child(2n + 1) > td,
.table-striped-list-inovasi > tbody > tr:nth-child(2n + 1) > th {
  background-color: #f9f9f9;
  border-bottom-width: 0px !important;
}

.table-striped-list-inovasi > tbody > tr:nth-child(2n) > td,
.table-striped-list-inovasi > tbody > tr:nth-child(2n) > th {
  background-color: #f3f3f3;
  border-bottom-width: 0px !important;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
}

.bg-prpl {
  background-color: #f6f5ff;
}
.tablehead-innovation-list {
  background-color: black !important;
}

.tablehead-innovation-list-text {
  color: white !important;
}

.tableheadinnovation {
  background-color: black !important;
  color: white !important;
  justify-content: center !important;
}

.tableheadsubmission {
  background-color: #8475de !important;
  color: black !important;
  justify-content: center !important;
}

.text-red {
  color: #9f0c0c !important;
}
.text-orange {
  color: #ebb800 !important;
}
.text-yellow {
  color: #92ab02 !important;
}
.text-green {
  color: #07a221 !important;
}

.table-light {
  --cui-table-bg: #f3f3f3 !important;
  --cui-table-color: rgba(44, 56, 74, 0.95);
  --cui-table-border-color: rgba(236, 237, 238, 0.995);
  --cui-table-striped-bg: #f9f9f9 !important;
  --cui-table-striped-color: rgba(44, 56, 74, 0.95);
  --cui-table-active-bg: rgba(236, 237, 238, 0.995);
  --cui-table-active-color: rgba(44, 56, 74, 0.95);
  --cui-table-hover-bg: rgba(241, 241, 243, 0.99625);
  --cui-table-hover-color: rgba(44, 56, 74, 0.95);
}

.card-inovasi {
  border-radius: 25px 25px 25px 0 !important;
  background-color: #dae0f6 !important;
  height: 100%;
}
.card-inovasi-2 {
  border-radius: 25px !important;
  background-color: #dae0f6 !important;
  height: 100%;
}
.clickable {
  cursor: pointer;
}

.click-div {
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 5px;
  padding: 12px;
}

.innovation-button {
  width: 100%;
  background-color: #f3f3f3;
  border: none;
  color: #9c9c9c;
  text-decoration: none;
  font-size: 18px;
}

.innovation-button-active {
  background-color: #fcd32b;
  width: 100%;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 18px;
  pointer-events: none;
}

.innovation-button:hover,
.innovation-button:focus {
  width: 100%;
  background-color: #fcd32b !important;
  border: none;
  color: black !important;
  text-decoration: none !important;
  font-size: 18px;
  outline: none;
  box-shadow: none;
}

table.table-budget th {
  border-top: 2px solid #fcd32b;
  padding: 1rem;
  border-bottom: 2px solid #fcd32b;
  background-color: #fffcea;
  border-collapse: collapse;
}

.table-budget2 {
  border-left: 2px solid #fcd32b;
  padding: 1rem;
  border-right: 2px solid #fcd32b;
  text-align: center;
  border-collapse: collapse;
}

.table-budget3 {
  border-left: 2px solid #fcd32b;
  padding: 1rem;
  text-align: center;
  border-collapse: collapse;
}

table.table-budget td {
  border-top: 2px solid #fcd32b;
  padding: 1.5rem;
  border-bottom: 2px solid #fcd32b;
  background-color: #ffffff;
  border-collapse: collapse;
}

.table-budget-total {
  border-top: 2px solid #fcd32b;
  padding: 1rem !important;
  background-color: #ffffff;
  border-collapse: collapse;
  text-align: center !important;
  font-weight: bold !important;
  border-bottom: none !important;
}

table.table-okr th {
  border-top: 2px solid #fcd32b;
  padding: 1.5rem;
  border-bottom: 2px solid #fcd32b;
  background-color: #fffcea;
  border-collapse: collapse;
}

table.table-okr td {
  border-top: 2px solid #fcd32b;
  padding: 1.5rem;
  padding-right: 2.5rem !important;
  background-color: #ffffff;
  border-collapse: collapse;
}

.card-revenue {
  background-color: #fff7b8;
  border: none;
}

table.table-activity th {
  padding: 1rem;
  background-color: #fffcea;
  border-collapse: collapse;
}

table.table-activity td {
  padding: 1.5rem;
  background-color: #ffffff;
  border-collapse: collapse;
}

.animasi-loading {
  height: 74px;
  width: 137px;
  position: relative;
  animation-name: animasi;
  animation-duration: 5s;
  animation-iteration-count: 20;
  animation-direction: alternate-reverse;
}

@keyframes animasi {
  0% {
    opacity: 1;
    height: 74px;
    width: 137px;
    // left: 0px;
    // top: 0px;
  }
  25% {
    opacity: 0.75;
    height: 85.1px;
    width: 157.55px;
    // left: -50px;
    // top: 0px;
  }
  50% {
    opacity: 0.5;
    height: 96.2px;
    width: 178.1px;
    // left: 0px;
    // top: 0px;
  }
  75% {
    opacity: 0.75;
    height: 85.1px;
    width: 157.55px;
    // left: 50px;
    // top: 0px;
  }
  100% {
    opacity: 1;

    height: 74px;
    width: 137px;
    // left: 0px;
    // top: 0px;
  }
}

.animasi-loadingData {
  height: 37px;
  width: 68.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: animasi2;
  animation-duration: 0.3s;
  animation-iteration-count: 300;
  animation-direction: alternate-reverse;
}

@keyframes animasi2 {
  0% {
    opacity: 0.5;
    height: 37px;
    width: 68.5px;
    // left: 0px;
    // top: 0px;
  }
  100% {
    opacity: 0.9;

    height: 48.1px;
    width: 89.05px;
    // left: 0px;
    // top: 0px;
  }
}

.list-inov {
  transition: 0.25s ease;
}

.list-inov:hover {
  transform: scale(1.02);
  opacity: 0.5;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.view-all:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.float-right {
  margin-left: auto;
  margin-right: 0;
  float: right;
  display: flex;
}

.float-right:hover {
  transform: scale(1.01);
  opacity: 0.7;
}
